
<lasso-page package-path="./browser.json"/>
//the <include/> and <@tag> tags are belong to marko
<include('../layout/template/index.marko', data)>
    <@title>Home</@title>
    <!-- <@content>
        <h1>test</h1>
    </@content> -->
</include>




