
<lasso-page package-path="./browser.json"/>
//the <include/> and <@tag> tags are belong to marko
<include('../layout/template/index.marko', data)>
    <@title>Home</@title>
    <@content>
        <p>from view/home/index.marko</p>
        <!-- <img src="/public/images/LinkInTrans.gif"> -->
    </@content>
</include>




