<!doctype html>
<lasso-page package-path="./browser.json"/>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title><include(input.title)/></title>
        <link href="/public/images/happySnailTrans.ico" rel="icon" type="image/png">
        <lasso-head/>
    </head>
    <body class="">  
        <include('../nav/index.marko', data)/>      
        <include(input.content)/>

        <lasso-body/>
        <browser-refresh enabled="true"/>
    </body>

</html>